In [9]:
import os
import pandas as pd
import numpy as np

cleaned_data_path = '../processed_data/cleaned_raw_data.csv'
cleaned_data = pd.read_csv(cleaned_data_path)
cleaned_data.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,...,ticket price,popcorn,DOB,gender,address,Website,job,industry,age,norm_film
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,...,45000,Không,1999-04-20,Nữ,Thanh Khê,KH0104|0345,student,computer,19.0,AVENGERS: HOI KET
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,...,45000,Không,1999-04-20,Nữ,Thanh Khê,KH0104|0345,student,computer,19.0,AVENGERS: HOI KET
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,...,45000,Không,1998-04-18,Nam,Cẩm Lệ,KH0104|0333,student,health service,20.0,JOHN WICK 3: CHUAN BI CHIEN TRANH (C18)
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,...,45000,Không,1998-04-18,Nam,Cẩm Lệ,KH0104|0333,student,health service,20.0,JOHN WICK 3: CHUAN BI CHIEN TRANH (C18)
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,...,45000,Không,1998-04-18,Nam,Cẩm Lệ,KH0104|0333,student,health service,20.0,NGOI ĐEN KY QUAI (C18)

### Drop unnecessary fields for training

In [10]:
cleaned_data = cleaned_data.drop(columns=['orderid', 'cashier','customerid','DOB','Website','film','norm_film','saledate'])
cleaned_data.head()

,total,ticketcode,date,time,slot,room,slot type,ticket type,ticket price,popcorn,gender,address,job,industry,age
0,90000.0,20074925,2019-05-06,18:15:00,G04,3,ĐƠN,Thành viên,45000,Không,Nữ,Thanh Khê,student,computer,19.0
1,90000.0,20074924,2019-05-06,18:15:00,G03,3,ĐƠN,Thành viên,45000,Không,Nữ,Thanh Khê,student,computer,19.0
2,90000.0,20097042,2019-05-22,20:45:00,E04,2,ĐƠN,Thành viên,45000,Không,Nam,Cẩm Lệ,student,health service,20.0
3,90000.0,20097041,2019-05-22,20:45:00,E03,2,ĐƠN,Thành viên,45000,Không,Nam,Cẩm Lệ,student,health service,20.0
4,90000.0,20106761,2019-05-30,19:30:00,F04,1,ĐƠN,Thành viên,45000,Không,Nam,Cẩm Lệ,student,health service,20.0